@model BLL.DTO.QuestionDto 

<h2>New question for @ViewBag.Test.Title</h2>
<form method="post" asp-controller="Question" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="TestId" type="hidden" value="@ViewBag.Test.Id" />
        <input asp-for="TestTitle" type="hidden" value="@ViewBag.Test.Title" />
    </div>
    <div>
        <label asp-for="TaskText"></label><br />
        <input asp-for="TaskText" />
        <span asp-validation-for="TaskText"></span><br />
        <label asp-for="Score"></label><br />
        <input asp-for="Score" />
        <span asp-validation-for="Score"></span>
    </div>
    <div class="submit-wrapper flex-line">
        <input class="btn-dark" type="submit" value="Create" />
        <a class="btn-dark" asp-controller="Question" asp-action="Index" asp-route-testId="@ViewBag.Test.Id">Back</a>
    </div>
</form>
