@model BLL.DTO.QuestionDto

<h1>Delete question</h1>
<dl>
    <dt>
        Title
    </dt>
    <dd>
        @Model.TaskText
    </dd>
    <dt>
        Score
    </dt>
    <dd>
        @Model.Score
    </dd>
</dl>

<form method="post" asp-action="DeleteVerified">
    <input type="hidden" asp-for="Id" />
    <div class="submit-wrapper flex-line">
        <input class="btn-dark" type="submit" value="Delete" />
        <a class="btn-light" asp-controller="Test" asp-action="Index" asp-route-themeId="@ViewBag.Test.ThemeId">Back</a>
    </div>
</form>
