@model ICollection<BLL.DTO.TestDto>

<h2>All Available tests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Test
            </th>
            <th>
                Theme name
            </th>
            <th>
                Actions
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.ThemeTitle
                </td>
                <td>
                    <a asp-controller="UserTesting" asp-action="Results" asp-route-testId="@item.Id">Results</a>
                </td>
                <td>
                    <a asp-controller="UserTesting" asp-action="PassTest" asp-route-testId="@item.Id">Pass Test</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn-dark" asp-controller="Home" asp-action="Index">Back</a>