@model ICollection<BLL.DTO.ResultDto>

<h2>Results</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Test
            </th>
            <th>
                Score
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.TestTitle
                </td>
                <td>
                    @item.Score
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn-dark" asp-controller="UserTesting" asp-action="Index">Back</a>