@model BLL.DTO.TestDto

<h2>Edit test for @ViewBag.Theme.Title</h2>
<form method="post" asp-controller="Test" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="ThemeId" type="hidden" value="@ViewBag.Theme.Id" />
        <input asp-for="ThemeTitle" type="hidden" value="@ViewBag.Theme.Title" />
    </div>
    <div>
        <label asp-for="Title"></label><br />
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="submit-wrapper flex-line">
        <input class="btn-dark" type="submit" value="Edit" />
        <a class="btn-light" asp-controller="Test" asp-action="Index" asp-route-themeId="@ViewBag.Theme.Id">Back</a>
    </div>
</form>
