@model BLL.DTO.AnswerDto

<h1>Delete question</h1>
<dl>
    <dt>
        Text
    </dt>
    <dd>
        @Model.Text
    </dd>
    <dt>
        Correct
    </dt>
    <dd>
        @Model.IsCorrect
    </dd>
</dl>

<form  method="post" asp-action="DeleteVerified">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" />
</form>

<a asp-controller="Answer" asp-action="Index" asp-route-testId="@ViewBag.Question.Id">Back</a>