@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome @User.Identity.Name</p>

    @if (User.IsInRole("Administrator"))
    {
        <div class="flex-line">
            <a class="btn-light" asp-controller="Theme" asp-action="Index">Themes</a>
            <a class="btn-light" asp-controller="Result" asp-action="Index">Results</a>
        </div>
        <hr />
    }
    else if (User.IsInRole("User"))
    {
        <a class="btn-light" asp-controller="UserTesting" asp-action="Index">Available tests</a>
        <hr />
    }

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input class="btn-dark" type="submit" value="Log out" />
    </form>
}
else
{
    <a class="btn-dark" asp-controller="Account" asp-action="Login">Log in</a>
    <br />
    <a class="btn-light" asp-controller="Account" asp-action="Register">Register</a>
}