@model BLL.DTO.ThemeDto

<h1>Delete theme</h1>
<dl>
    <dt>
        Title
    </dt>
    <dd>
        @Model.Title
    </dd>
</dl>

<form method="post" asp-action="DeleteVerified">
    <input type="hidden" asp-for="Id" />
    <div class="submit-wrapper flex-line">
        <input class="btn-dark" type="submit" value="Delete" />
        <a class="btn-light" asp-controller="Theme" asp-action="Index">Back</a>
    </div>
</form>

